@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="lead">Utilize this service to classify your mushroom images and ensure they are genuine champignons, avoiding any confusion with the dangerous destroying angel (amanita virosa) mushroom.</p>
</div>
